@import "../styles/UI";

@media (min-width: 1200px) {
  .home {
    background-color: $primary-color;
    height: calc(100vh - 100px);

    .grid {
      width: 70%;
      margin: 0 auto;
      height: calc(100vh - 100px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $primary-color;
      color: white;
      padding: 15px;

      .gridItem1 {
        h2 {
          font-size: 3.5rem;
          margin-bottom: 17px;
        }
        span {
          color: $secondary-color;
        }

        .prompt {
          p {
            font-size: 1.2rem;
            margin-bottom: 55px;
          }

          .icons {
            display: flex;
            justify-content: center;

            svg {
              font-size: 3rem;
              margin: 0 8px;
              transition: color 0.3s;
              cursor: pointer;

              &:hover {
                color: $secondary-color;
              }
            }

            button {
              width: 8rem;
              border: none;
              border-radius: 8px;
              font-size: 1rem;
            }
          }
        }
      }

      .gridItem2 {
        display: flex;
        justify-content: center;
        align-items: center;

        .clip {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 25rem;
          width: 28rem;
          background-color: $secondary-color;
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);

          img {
            width: 280px;
            height: 280px;
            border-radius: 190px;
            margin: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .home {
    background-color: $primary-color;
    height: calc(100vh - 100px);

    .grid {
      width: 80%;
      margin: 0 auto;
      height: calc(100vh - 100px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $primary-color;
      color: white;
      padding: 15px;

      .gridItem1 {
        h2 {
          font-size: 3rem;
        }
        span {
          color: $secondary-color;
        }

        .prompt {
          p {
            font-size: 1rem;
            margin-bottom: 25px;
          }

          .icons {
            display: flex;
            justify-content: center;

            svg {
              font-size: 2.8rem;
              margin: 0 8px;
              cursor: pointer;
              transition: color 0.3s;

              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }

      .gridItem2 {
        display: flex;
        justify-content: center;
        align-items: center;

        .clip {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 19rem;
          width: 24rem;
          background-color: $secondary-color;
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);

          img {
            width: 260px;
            height: 260px;
            border-radius: 130px;
            margin: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .home {
    background-color: $primary-color;
    height: calc(100vh - 100px);

    .grid {
      width: 80%;
      margin: 0 auto;
      height: calc(100vh - 100px);
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $primary-color;
      color: white;
      padding: 35px 0;

      .gridItem1 {
        h2 {
          font-size: 3rem;
          margin-bottom: 10px;
        }
        span {
          color: $secondary-color;
        }

        .prompt {
          p {
            font-size: 1rem;
            margin-bottom: 25px;
          }

          .icons {
            display: flex;
            justify-content: center;

            svg {
              font-size: 2.8rem;
              margin: 0 8px;
              cursor: pointer;
              transition: color 0.3s;

              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }

      .gridItem2 {
        display: flex;
        justify-content: center;
        align-items: center;

        .clip {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 15rem;
          width: 15rem;
          background-color: $secondary-color;
          clip-path: polygon(0% 25%, 1% 100%, 100% 100%, 100% 25%, 50% 0%);

          img {
            width: 180px;
            height: 180px;
            border-radius: 90px;
            margin: auto;
          }
        }
      }
    }
  }
}
