.animatedIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;

  .techIcon {
    width: 2.5rem;
    animation: bounce-icon 2s infinite ease-in-out;
    img {
      width: 100%;
    }
  }

  .techIcon:nth-child(2n) {
    animation: bounce-icon2 2s infinite ease-in-out;
  }
}

@keyframes bounce-icon {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce-icon2 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
