@import "../styles/UI";

.home {
  background-image: linear-gradient(
      to right bottom,
      rgba(89, 89, 117, 0.4),
      rgba(27, 27, 50, 0.4)
    ),
    url(../assets/laptop.jpg);
  // background-color: $primary-color;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 60px);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;

  .grid {
    width: 90%;
    margin: 0 auto;
    row-gap: 2rem;

    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(235, 234, 234);

    .gridItem1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 17px;

        span {
          color: $secondary-color;
        }
      }

      .prompt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(235, 234, 234);
        row-gap: 1rem;

        p {
          // max-width: 70rem;
          font-size: 1.4rem;
          margin: auto;
          text-align: justify;
          overflow-wrap: break-word;
          max-width: 80%;
        }

        .icons {
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            svg {
              font-size: 3rem;
              margin: 0 8px;
              transition: color 0.3s;
              cursor: pointer;

              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }

    .gridItem2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .clip {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12rem;
        width: 12rem;
        background-color: $secondary-color;
        clip-path: circle(50% at 50% 50%);

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  // .grid {
  //   grid-template-columns: 1fr;
  // }
}

@media (min-width: 768.1px) {
  .home {
    padding: 1.5rem 0;
    min-height: 90vh;

    // .grid {
    //   row-gap: 3rem;

    //   .gridItem1 {
    //     padding-top: 0;
    //     padding-bottom: 0;

    //     .prompt {
    //       margin-bottom: 2rem;
    //       text-align: justify;
    //       overflow-wrap: break-word;

    //       p {
    //         margin: 2rem auto;
    //       }
    //     }
    //   }
    //   .gridItem2 {
    //     padding-top: 0;

    //     .clip {
    //       height: 10rem;
    //       width: 10rem;
    //     }
    //   }
    // }
  }
}
