@import "../styles/UI";

footer {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;

  // max-width: 1400px;
  margin: 0 auto;

  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: white;
      margin: 20px;
      font-size: 2.5rem;
      cursor: pointer;
      transition: color 0.3s;
    }

    svg:hover {
      color: $secondary-color;
    }
  }

  p {
    font-size: 1.6rem;
    color: white;
    text-align: center;
  }
}
