@import "../styles/UI";

.heading {
  background-image: linear-gradient(
      to right bottom,
      rgba(89, 89, 117, 0.4),
      rgba(27, 27, 50, 0.4)
    ),
    url(../assets/project-photo3.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.2em;

  max-width: 1400px;
  margin: 0 auto;

  h1 {
    color: $secondary-color;
    font-size: 6.4rem;
  }

  p {
    color: rgb(235, 234, 234);
    max-width: 80%;
    font-size: 2.3rem;
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
  }
}

.container {
  margin: 1.6rem auto;

  h2 {
    font-size: 3rem;
    font-family: "Monoton";
  }

  p {
    margin: 1.6rem auto;
    font-size: 1.9rem;
  }

  .flex {
    margin: 1.6rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .projectDetails {
      .imageContainer {
        width: 10rem;
        margin: 1rem auto;
      }

      .control {
        margin: 1.6rem auto;
        // max-width: 60%;K
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .heading {
    p {
      max-width: 90%;
    }
  }
  .container {
    max-width: 90%;

    .control {
      max-width: 70%;
    }
  }
}

@media (min-width: 768.1px) {
  .container {
    max-width: 60%;

    .control {
      max-width: 40%;
    }
  }
}
