@import "../styles/UI";

@media (min-width: 1200px) {
  .container {
    margin: auto;
    h1 {
      margin-top: 2rem;
    }

    p {
      font-size: 1rem;
      max-width: 80%;
      text-align: justify;
      margin: 1rem auto 2rem auto;
    }

    .flex {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem;
      width: 80%;
      margin: 2rem auto;

      .card {
        background-color: $primary-color;

        .projectContainer {
          height: auto;
          h2 {
            margin-bottom: 0;
            background-color: $primary-color;
            color: white;
            padding: 0.6rem 0;
          }

          .imageContainer {
            width: 100%;
            border-bottom: 2px solid $primary-color;

            img {
              height: 200px;
              object-fit: contain;
            }
          }

          .descContainer {
            border: 2px solid $secondary-color;
            width: 70%;
            height: 180px;
            border-radius: 10px;
            margin: 5px auto;
            display: flex;
            align-items: center;
            padding: 5px;
            overflow-y: auto;

            p {
              color: white;
              margin: 20px 5px;
              text-align: center;
            }
          }

          .control {
            margin: 1rem auto;
            display: flex;
            justify-content: space-between;
            width: 60%;

            a {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .container {
    margin: auto;

    h1 {
      margin-top: 2rem;
    }

    p {
      font-size: 1rem;
      max-width: 80%;
      text-align: justify;
      margin: 1rem auto 2rem auto;
    }

    .flex {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem;
      width: 90%;
      margin: 2rem auto;

      .card {
        background-color: $primary-color;
        .projectContainer {
          height: auto;
          h2 {
            margin-bottom: 0;
            background-color: $primary-color;
            color: white;
            padding: 0.6rem 0;
          }

          .imageContainer {
            width: 100%;
            border-bottom: 2px solid $primary-color;

            img {
              height: 200px;
              object-fit: contain;
            }
          }

          .descContainer {
            border: 2px solid $secondary-color;
            width: 95%;
            height: 180px;
            border-radius: 10px;
            margin: 5px auto;
            display: flex;
            align-items: center;
            padding: 5px;

            overflow-y: auto;

            p {
              color: white;
              text-align: center;
            }
          }

          .control {
            margin: 1rem auto;
            display: flex;
            justify-content: space-between;
            width: 60%;

            a {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    h1 {
      margin-top: 2rem;
    }

    p {
      font-size: 1rem;
      max-width: 90%;
      text-align: justify;
      margin: 1rem auto 2rem auto;
    }

    .flex {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 3rem;
      width: 40%;
      margin: 2rem auto;

      .card {
        background-color: $primary-color;
        .projectContainer {
          height: auto;
          h2 {
            margin-bottom: 0;
            background-color: $primary-color;
            color: white;
            padding: 0.6rem 0;
          }

          .imageContainer {
            width: 100%;
            border-bottom: 2px solid $primary-color;

            img {
              width: 100%;
              // height: 300px;
              object-fit: contain;
            }
          }

          .descContainer {
            border: 2px solid $secondary-color;
            width: 80%;
            height: 180px;
            border-radius: 10px;
            margin: 5px auto;
            display: flex;
            align-items: center;
            overflow-y: auto;

            p {
              color: white;
              text-align: justify;
            }
          }

          .control {
            margin: 1rem auto;
            display: flex;
            justify-content: space-between;
            width: 60%;

            a {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .container {
    h1 {
      margin-top: 2rem;
    }

    p {
      font-size: 1rem;
      max-width: 90%;
      text-align: justify;
      margin: 1rem auto 2rem auto;
    }

    .flex {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 2rem;
      width: 70%;
      // height: 1300px;
      margin: 2rem auto;
    }
  }
}

@media (max-width: 400px) {
  .container {
    h1 {
      margin-top: 2rem;
    }

    p {
      font-size: 1rem;
      max-width: 90%;
      text-align: justify;
      margin: 1rem auto 2rem auto;
    }

    .flex {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 2rem;
      width: 85%;
      // height: 1300px;
      margin: 2rem auto;
    }
  }
}
