.projectContainer {
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 1.5rem;
  margin: 1rem auto;

  h2 {
    margin-bottom: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;

    .techCont {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 3rem;
      }
    }
  }

  .imageContainer {
    img {
      width: 20rem;
    }
  }
}

@media (max-width: 768px) {
  .projectContainer {
  }
}

@media (min-width: 768.1px) {
  .projectContainer {
  }
}
