@import "../styles/UI";

.skillContainer {
  h1 {
    font-family: "Monoton";
    color: $primary-color;
    font-size: 2rem;
  }

  li {
    text-align: center;
    cursor: pointer;

    &:hover h2 {
      color: $secondary-color;
    }
  }
}

@media (min-width: 1200px) {
  .skillContainer {
    width: 70%;
    margin: auto;
    padding: 20px 0;

    h1 {
      font-family: "Monoton";
      color: $primary-color;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      text-align: justify;
    }

    .skillsList {
      // max-width: 10rem;
      // padding: 16rem;
      width: 70%;
      margin: 2rem auto;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;
        column-gap: 2rem;

        li {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          h2 {
            text-align: center;
            font-weight: 700;
          }

          img {
            width: 8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .skillContainer {
    width: 90%;
    margin: auto;
    padding: 20px 0;

    h1 {
      text-align: center;
      margin-bottom: 15px;
    }

    p {
      font-size: 1.2rem;
      text-align: justify;
    }

    .skillsList {
      margin: 2rem auto;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;
        column-gap: 2rem;

        li {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          h2 {
            text-align: center;
            font-weight: 700;
          }

          img {
            width: 7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .skillContainer {
    width: 95%;
    margin: auto;
    padding: 20px 10px;

    h1 {
      text-align: center;
      margin-bottom: 15px;
    }

    p {
      font-size: 1.2rem;
      text-align: justify;
    }

    .skillsList {
      width: 100%;
      margin: 2rem auto;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;
        column-gap: 2rem;

        li {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          h2 {
            text-align: center;
            font-weight: 700;
          }

          img {
            width: 8rem;
          }
        }
      }
    }
  }
}
