@import "./styles/UI";
/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Prompt:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

/* Override default style and set padding and margin to nothing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 1.4;

  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: Tahoma;
}

main {
  text-align: center;
  min-height: 80vh;
  padding-top: 50px;
}

h1 {
}

/* Make all link text black with no text decoration */
a {
  text-decoration: none;
  color: white;
}

/* No styling on list items */
li {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Target all input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  color: $secondary-color; /* Change the text color */
}

/* Target placeholder text for all input fields */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: $secondary-color; /* Change the text color */
}

/* Target text color of textarea */
textarea {
  color: $secondary-color; /* Change the text color */
}

/* Target placeholder text color for textarea */
textarea::placeholder {
  color: $secondary-color; /* Change the text color */
}

// skill card
.skill-card {
  background: $primary-color;
  padding: 0.5rem;
  height: 100%;
  // text-align: center;
  overflow-y: auto;

  h2 {
    font-family: "Monoton";
    color: $secondary-color;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    color: white;
    display: inline;
    overflow-wrap: break-word;
    text-align: left;
  }
}

.open {
  background: $primary-color;
  color: white;
  border-top: 4px solid $secondary-color;

  h2 {
    color: $secondary-color;
    font-family: "Monoton";
  }
}

/* Tablet screen */
@media (max-width: 899px) {
  html {
    font-size: 14px;
  }
}

/* Mobile screen */
@media (max-width: 580px) {
  html {
    font-size: 12px;
  }
}
